<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Aplicaciones"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".simulador_creditos"
            android:exported="true" />
        <activity
            android:name=".registro_usua"
            android:exported="true" />
        <activity
            android:name=".tipo_usuario"
            android:exported="true" />
        <activity
            android:name=".Calculadora_impuesto"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Generador_de_contratos4"
            android:exported="true" />
        <activity
            android:name=".Generador_de_contratos3"
            android:exported="true" />
        <activity
            android:name=".Generador_de_contratos2"
            android:exported="true" />
        <activity
            android:name=".Generador_de_contratos"
            android:exported="true" />
        <activity
            android:name=".Menu_inicial"
            android:exported="true" />
        <activity
            android:name=".contratos"
            android:exported="true" />
        <activity
            android:name=".Pantalla_carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>